<!DOCTYPE html>
<html lang="en">

<head>
    <title>INTERLIS Repository Checker</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link th:href="@{/css/fonts.css}" rel="stylesheet" />
    <link th:href="@{/css/repochecker.css}" rel="stylesheet" />
    <link th:href="@{/css/repochecker.css}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Suez+One&display=swap" rel="stylesheet">
    
    <style>
        body {
            font-family: Frutiger, 'Fira Sans', sans-serif;
            font-size: 0.9rem;
        }
    </style>
</head>

<body>
    <div class="container">
        <div id=title>
            INTERLIS Repository Checker
        </div>
    
		<table class="styled-table">
		    <colgroup>
		        <col span="1" style="width:40%">
	            <col span="1" style="width:20%">
	            <col span="1" style="width:20%">
	            <col span="1" style="width:20%">
		    </colgroup>
		    <thead>
		        <tr>
		            <th>Repository</th>
	                <th>ilisite.xml</th>
	                <th>ilimodels.xml</th>
	                <th>Models</th>
		        </tr>
		    </thead>
		        <tr th:each="iliRepo: ${repositories}">
		            <td>
	                   <span th:text="${iliRepo.ident}"/>
	                   <span>&nbsp;</span>
	                    <a class="black-link" th:href="${iliRepo.ident}" target="_blank">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
							    <rect width="16" height="16" style="fill:white;stroke:none" />
							    <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
							    <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
							</svg>
	                    </a>
		            </td>
		            
	                <td th:attr="class=${iliRepo.results['ILISITE_XML'].valid ? 'success-cell' : 'fail-cell'}" > 
	                    <span th:if="${!iliRepo.results['ILISITE_XML'].valid}">
	                        <a th:href="${iliRepo.results['ILISITE_XML'].logFile}" class="black-link" target="_blank">Logfile</a>
	                    </span>
	                </td>
	
	                <td th:attr="class=${iliRepo.results['ILIMODELS_XML'].valid ? 'success-cell' : 'fail-cell'}" > 
	                    <span th:if="${!iliRepo.results['ILIMODELS_XML'].valid}">
	                        <a th:href="${iliRepo.results['ILIMODELS_XML'].logFile}" class="black-link" target="_blank">Logfile</a>
	                    </span>
	                </td>
	                
	                <td th:attr="class=${iliRepo.results['MODELS'].valid ? 'success-cell' : 'fail-cell'}" > 
	                    <span th:if="${!iliRepo.results['MODELS'].valid}">
	                        <a th:href="${iliRepo.results['MODELS'].logFile}" class="black-link" target="_blank">Logfile</a>
	                    </span>
	                </td>
		        </tr>
		    </tbody>
		</table>
    </div>
</body>

</html>